---
- name: add apt key for jenkins
  become: yes
  apt_key: >-
    url=http://pkg.jenkins-ci.org/debian/jenkins-ci.org.key
    state=present

- name: add apt repo for jenkins
  become: yes
  apt_repository:
    repo: "deb http://pkg.jenkins-ci.org/debian binary/"
    state: present
    update_cache: yes

- name: install jenkins
  become: yes
  apt: name=jenkins

- name: update jenkins running port
  become: yes
  lineinfile: >-
    dest=/etc/default/jenkins
    regexp=^HTTP_PORT=8080$
    line=HTTP_PORT={{ jenkins_port }}
  notify:
    - restart jenkins
