---
- name: Ensure old versions of Docker are not installed
  apt:
    name: '{{ item }}'
    state: absent
  with_items:
    - docker
    - docker-engine

- name: Install Docker dependencies
  apt: name={{ item }}
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - software-properties-common

- name: Add Docker apt key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    state: present
  register: add_repository_key

- name: Add Docker repository.
  apt_repository:
    repo: "{{ docker_apt_repository }}"
    state: present
    update_cache: yes

- name: Install Docker CE
  apt: name=docker-ce

- name: Stop docker from messing iptables rules
  lineinfile: >-
    dest=/etc/default/docker
    line="DOCKER_OPTS=\"--dns 8.8.8.8 --dns 8.8.4.4 --iptables=false\""
  notify:
    - Restart docker
