---
- name: Update apt-get
  become: yes
  apt: update_cache=yes cache_valid_time=43200

- name: Install packages
  become: yes
  apt: name={{ item }}
  with_items:
    - zsh
    - git
    - nginx
    - libffi-dev
    - libssl-dev
    - ufw
    - apt-transport-https
    - python-pip

- name: Install python packages
  become: yes
  pip: name={{ item }}
  with_items:
    - pyopenssl
    - ndg-httpsclient
    - pyasn1
    - ansible
    - passlib

- name: Clone dotfiles
  git:
    repo: https://github.com/tmtxt/dotfiles.git
    dest: ~/dotfiles
    accept_hostkey: yes
    recursive: yes

- name: Clone oh my zsh
  git:
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    dest: ~/.oh-my-zsh
    accept_hostkey: yes
    recursive: yes

- name: Symlink .zshrc to home folder
  file:
    src: ~/dotfiles/.zshrc
    dest: ~/.zshrc
    state: link

- name: Change user default shell to zsh
  become: yes
  user:
    name: tmtxt
    shell: /usr/bin/zsh
